.chat {
    &_messages {
        height: 323px;
        width: 100%;
        border: 1px solid black;
    }
    &_message {
        height: 5opx;
        background: #bdbdbd;
        border-radius: 5px;
        margin: 5px 0;
        &--current-user {
            background: #9aff9f;
            margin-right: 30px;
            position: relative;
        &:after {
            content: "";
            width: 0;
            height: 0;
            border-left: 0px solid transparent;
            border-right: 18px solid transparent;
            border-bottom: 20px solid #9aff9f;
            transform: rotate(90deg);
            display: block;
            position: absolute;
            top: -1px;
            right: -15px;

        }
        }

        &--other-user {
            background: grey;
            margin-right: 30px;
            position: relative;
        &:after {
            content: "";
            width: 0;
            height: 0;
            border-left: 0px solid transparent;
            border-right: 18px solid transparent;
            border-bottom: 20px solid gray;
            transform: rotate(90deg);
            display: block;
            position: absolute;
            top: -1px;
            right: -15px;

        }
        }
    }

    &_form {
        display: flex;
        height: 50px;
        button {
            margin-top: 6px;
        }
    }

    
    &_case {height: 560px; width: 277px; border-radius: 40px 40px; border: 1px solid #000; margin: auto;}
    &_earsection {margin-top: 36px; margin-left: 72px; height: 16px;}
    &_camera {float: left; width: 16px; height: 16px; border: 1px solid #000; border-radius: 9px 9px;}
    &_speaker {float: left; width: 54px; height: 5px; margin-left: 15px; border: 1px solid #000; border-radius: 7px 7px;}
    &_screen {clear: both; width: 250px; height: 374px; margin: auto; margin-top: 35px; border: 1px solid #000;}
    &_screen iframe {border: none; width: 100%; height: 100%}
    &_button {height: 56px; width: 56px; border: 1px solid #000; border-radius: 28px 28px; margin: auto; margin-top: 22px;}
    &_buttonsquare {height: 17px; width: 17px; border: 1px solid #000; border-radius: 5px; margin: auto; margin-top: 18px; }
    
    
    ::ng-deep {
        cdk-virtual-scroll-viewport{
            height: 100%;
        }
    }
}