.chat-container{
    display: flex;
    &__room-list {
        width: 10ram;
        margin-right: 2rem;
    }

    &__add-room{
        position: fixed;
        bottom: 4rem;
        right: 4rem;
    }
}